h1 {
    background-color: black;
    color: white;
    font-weight: bolder;
    inline-size: auto;
    background-size: auto;
    text-align: center;
    width:fit-content;
    position: relative;
    left: 30%;
    font-size: 100px;
}

h3 {
    background-color:  black;
    color: white;
    text-align: center;
    inline-size: auto;
    width:fit-content;
    position: relative;
    left: 35%;
    font-size: 35px;
}

#services {
    left: 43%;
    font-size: 35px;
}

li {
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    inline-size: auto;
    width:fit-content;
    position: relative;
    left: 46%;
    font-size:30px;
}
button {
    background-color: blue;
    color: white;
    height: 150px;
    width: 150px; 
    text-align: center;
    border-color: black;
    border-radius: 100%;
    border-width:thick;
    border-style:ridge;
    align-items: center;
    position: relative;
    left: 46%;
    font-size:30px;
}

body {
    background-image: url("https://images.unsplash.com/photo-1607008829749-c0f284a49fc4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8aGFpciUyMHNhbG9ufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-color: pink;
    margin-right: 10%;
}

h2 {
    background-color:  black;
    color: white;
    text-align: center;
    inline-size: auto;
    width:fit-content;
    position: relative;
    left: 44.5%;
    font-size: 55px;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 10%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: pink; /* Pink */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }

  .sidenav a {
    padding: 16px 8px 16px 50px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    border-color: black;

  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  @media screen and (max-width: 1000px) {
    .sidenav {
        display: none;
    }
  }

  #test {
    position:absolute;
    left: 900px;
  }