h1 {
    background-color: black;
    color: white;
    font-weight: bolder;
    inline-size: auto;
    background-size: auto;
    text-align: center;
    width:fit-content;
    position: relative;
    left: 39%;
}

h3 {
    background-color:  black;
    color: white;
    text-align: center;
    inline-size: auto;
    width:fit-content;
    position: relative;
    left: 36%;
}

#services {
    left: 44.5%;
}

li {
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    inline-size: auto;
    width:fit-content;
    position: relative;
    left: 47%;
}
button {
    background-color: black;
    color: white;
    height: 75px;
    width: 150px; 
    text-align: center;
    border-color: red;
    align-items: center;
    position: relative;
    left: 45%;
    font-size:x-large;
}

body {
    background-image: url("https://images.unsplash.com/photo-1607008829749-c0f284a49fc4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8aGFpciUyMHNhbG9ufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: pink;
    margin-right: 160px;
}

h2 {
    background-color:  black;
    color: white;
    text-align: center;
    inline-size: auto;
    width:fit-content;
    position: relative;
    left: 47%;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: pink; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    border-color: black;
    
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }